/* Reset Chakra UI styles for pre tags with language-* class */
pre[class^="language-"] {
  font-family: var(--chakra-fonts-mono);
  font-size: var(--chakra-fontSizes-md);
  margin: 0;
}

/* Reset Chakra UI styles for code tags following pre tags with language-* class */
pre[class^="language-"] > code {
  all: revert;
}